/* Переменные */
:root {
	--main-color: #212121;
	--front-color: #2196f3;
	--other-color: #757575;
	--light-color: #fff;
	--main-bg-color: #2f303a;
	--light-bg-color: #f5f4fa;
	--btn-bg-color: #2196f3;
}

body {
	color: var(--main-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/* Общие стили */
.container {
	max-width: 1170px;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 15px;
}
.logo {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: .03em;
	color: inherit;
}
.logo:link,
.logo:visited {
	text-decoration: none;
}
.logo-color {
	color: var(--front-color);
}
.contact {
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: .02em;
	color: var(--other-color);
}
.contact:hover,
.contact:focus {
	color: var(--front-color);
}
.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: .03em;
}

/* Header */
.header {
}
.header__container {
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
}
.menu__item {
	list-style: none;
}
.menu__link {
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: .02em;
	color: inherit;
}
.menu__link:hover,
.menu__link:focus {
	color: var(--front-color);
}
.menu__link:link,
.menu__link:visited {
	text-decoration: none;
}
._active {
	color: var(--front-color);
}
.header__list {
}
.header__item {
	list-style: none;
}
.header__link {
}
.header__link:link,
.header__link:visited {
	text-decoration: none;
}

/* Footer */
.footer {
	background-color: var(--main-bg-color);
}
.footer__container {
}
.footer__logo {
	color: var(--light-color);
}
.footer__address {
	line-height: 1.7;
	letter-spacing: .03em;
	color: var(--light-color);
	font-style: normal;
}
.footer__list {
}
.footer__item {
	list-style: none;
}
.footer__link {
}
.footer__link:link,
.footer__link:visited {
	text-decoration: none;
}

/* Главная страница */
/* Section Hero */
.hero {
	background-color: var(--main-bg-color);
}
.hero__container {
}
.hero__title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: .06em;
	text-transform: uppercase;
	color: var(--light-color);
}
.hero__btn {
	background-color: var(--btn-bg-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: .06em;
	color: var(--light-color);
	cursor: pointer;
}
.hero__btn:hover,
.hero__btn:focus {
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
}

/* Section Benefits */
.benefits {
}
.benefits__container {
}
.benefits__list {
}
.benefits__item {
	letter-spacing: .03em;
	list-style: none;
}
.benefits__title {
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}
.benefits__text {
	line-height: 1.7;
	color: var(--other-color);
}

/* Section Gallery */
.gallery {
}
.gallery__container {
}
.gallery__title {
}
.gallery__list {
}
.gallery__item {
	list-style: none;
}

/* Section Team */
.team {
	background-color: var(--light-bg-color);
}
.team__container {
}
.team__title {
}
.team__list {
}
.team__item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
					0px 1px 1px rgba(0, 0, 0, 0.14), 
					0px 2px 1px rgba(0, 0,0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--light-color);
	list-style: none;
}
.team__content {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: .03em;
}
.team__name {
	font-weight: 500;
}
.team__dev {
	color: var(--other-color);
}

/* Страница Портфолио */
.portfolio {
}
.portfolio__container {
}
.portfolio__list {
}
.portfolio__item {
	list-style: none;
}
.portfolio__btn {
	background-color: var(--light-bg-color);
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: .03em;
	cursor: pointer;
}
.portfolio__btn:hover,
.portfolio__btn:focus {
	background-color: var(--btn-bg-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
					0px 1px 2px rgba(0, 0, 0, 0.08),
					0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--light-color);				
}
._btn-active {
	background-color: var(--btn-bg-color);
	color: var(--light-color);
}
.portfolio__catalog {
}
.catalog-portfolio {
}
.catalog-portfolio__item {
	list-style: none;
}
.catalog-portfolio__link {
	background-color: var(--light-color);
	border: 1px solid #eee;
	color: inherit;
}
.catalog-portfolio__link:link,
.catalog-portfolio__link:visited {
	text-decoration: none;
}
.catalog-portfolio__content {
}
.catalog-portfolio__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.9;
	letter-spacing: .06em;
}
.catalog-portfolio__chapter {
	font-size: 16px;
	line-height: 1.7;
	letter-spacing: .03em;
	color: var(--other-color);
}